{% extends  'men/base.html'%}
{% block index %}

 <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Portfolio</li>
        </ol>
        <h2>Portfolio</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              {% if cat_selected == 0 %}
                  <li>All category</li>
                  {% else %}
                  <li><a href="{% url 'home' %}">All category</a></li>
                  {%endif%}

                  {% for c in cats %}
                    {% if c.pk == cat_selected %}
                    <li>{{c.name}}</li>
                    {% else  %}
                    <li><a href="{{ c.get_absolire_url }}">{{c.name}}</a></li>
                    {% endif %}
                  {% endfor %}
            </ul>
          </div>
        </div>
          <div class="row">
              {% for p in posts %}
            <div class="col-sm-4">
              <div class="portfolio-wrap">
               {% if p.image %}
                 <img src="{{p.image.url}}" alt="">
              {% endif %}
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{{p.image.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="{{ p.get_absolute_url }}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
                </div>
              {% endfor %}
          </div>
      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Clients Section ======= -->


  </main><!-- End #main -->

<!--<ul class="list-articles">-->
<!--	{% for p in posts %}-->
<!--  -->
<!--    <li>{{p.size}}</li>-->
<!--			<li><h2>{{p.price}}</h2>-->

<!--	{% autoescape on %}-->
<!--	{{p.discription}}-->
<!--	{% endautoescape %}-->
<!--			<div class="clear"></div>-->
<!--			<p class="link-read-post"><a href="">Читать пост</a></p>-->
<!--			</li>-->
<!--	{% endfor %}-->
<!--</ul>-->
{% endblock %}